$assets-path: '/assets';
$red: #e81942;
$grey: #efefef;
$grey-light-extra: #f2f2f2;

::ng-deep {
  .empty-row {
    display: none;
  }

  .custom-table > .visible > .datatable-header {
    display: none;
  }

  .ngx-datatable.bootstrap {
    box-shadow: none;
    font-size: 13px;

    .datatable-header {
      height: unset !important;

      .datatable-header-cell {
        vertical-align: bottom;
        padding: 0.75rem;
        border-bottom: 1px solid #d1d4d7;

        .datatable-header-cell-label {
          line-height: 24px;
        }
      }
    }

    .datatable-body {
      .datatable-body-row {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #d1d4d7;

        &.active {
          background-color: #1483ff;
          color: #FFF;
        }

        .datatable-body-cell {
          text-align: left;
          vertical-align: top;
        }
      }
    }

    .datatable-footer {
      background: #424242;
      color: #ededed;
      margin-top: -1px;

      .page-count {
        line-height: 50px;
        height: 50px;
        padding: 0 1.2rem;
      }

      .datatable-pager {
        margin: 0 10px;
        vertical-align: top;

        ul {
          li {
            margin: 10px 0px;

            &:not(.disabled) {
              &.active,
              &:hover {
                a {
                  background-color: #545454;
                  font-weight: bold;
                }
              }
            }
          }
        }

        a {
          height: 22px;
          min-width: 24px;
          line-height: 22px;
          padding: 0;
          border-radius: 3px;
          margin: 0 3px;
          text-align: center;
          vertical-align: top;
          text-decoration: none;
          vertical-align: bottom;
          color: #ededed;
        }

        .datatable-icon-left,
        .datatable-icon-skip,
        .datatable-icon-right,
        .datatable-icon-prev {
          font-size: 18px;
          line-height: 27px;
          padding: 0 3px;
        }
      }
    }
  }
}

.section {
  &-title {
    margin: 40px 0;
  }
}

.content {
  &__img {
    max-width: 100%;
    max-height: 60px;
    padding: 0 10px 10px 0;
  }
}

.table {
  $icon-size: 24px;
  $icon-gutter: 10px;
  $default-padding: 15px;

  &__path {
    margin-bottom: 15px;
    margin-left: calc(#{$icon-size} - #{$icon-gutter} + #{$default-padding});

    &::before {
      position: absolute;
      content: '';
      left: $default-padding;
      height: $icon-size;
      width: $icon-size;
      background: url('#{$assets-path}/folder-icon.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__folder {
    margin-left: calc(#{$icon-size} + #{$icon-gutter});

    &::before {
      position: absolute;
      content: '';
      left: 0;
      height: $icon-size;
      width: $icon-size;
      background: url('#{$assets-path}/folder-icon.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__back {
    margin-left: calc(#{$icon-size} + #{$icon-gutter});
    border: 0;
    border-radius: 2px;
    outline: 0;
    background: $grey-light-extra;
    cursor: pointer;
    transition: background-color .4s;

    &:hover {
      background-color: $grey;
    }

    &::before {
      position: absolute;
      content: '';
      left: calc(#{$icon-size} - #{$icon-gutter});
      height: $icon-size;
      width: $icon-size;
      background: url('#{$assets-path}/back-icon.svg') no-repeat center;
      background-size: contain;
    }
  }
}

.loader {
  $white: #fff;
  $white-075: rgba($white, 0.75);

  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    background: $white-075 url('#{$assets-path}/loader.svg') no-repeat center center;
    background-size: 24px;
    width: 100%;
    height: 100%;
    z-index: 900;
  }
}

.form {
  display: flex;

  &__input {
    padding-left: 5px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    outline: 0;

    &--error {
      border-color: $red;
    }
  }

  &__button {
    margin-left: 10px;
    border: 0;
    border-radius: 2px;
    outline: 0;
    background: $grey-light-extra;
    cursor: pointer;
    transition: background-color .4s;

    &:hover {
      background-color: $grey;
    }
  }
}
