<div class="row signin justify-content-center screen-container">
  <div class="col-lg-4 text-center element-center">
    <form #ngForm="ngForm"
          novalidate
          [formGroup]="formGroup"
          (ngSubmit)="onFormSubmit()">
      <h2 class="form-signin-heading text-capitalize">Sign up</h2>
      <div class="form-group">
        <label for="inputUsername" class="d-flex">Email address</label>
        <input type="email"
               id="inputUsername"
               formControlName="username"
               class="form-control"
               name="username"
               required autofocus/>
        <div *ngIf="ngForm.submitted && formGroup.controls.username.errors?.required" class="alert alert-danger">
          Username is required
        </div>
        <div *ngIf="ngForm.submitted && formGroup.controls.username.errors?.email" class="alert alert-danger">
          Incorrect username format
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="d-flex">Password</label>
        <input type="password"
               id="inputPassword"
               formControlName="password"
               class="form-control"
               required
               name="password"/>
        <div *ngIf="ngForm.submitted && formGroup.controls.password.errors?.required" class="alert alert-danger">
          Password is required
        </div>
      </div>
      <div class="form-group">
        <label for="inputPasswordConfirmation" class="d-flex">Confirm your password</label>
        <input type="password"
               id="inputPasswordConfirmation"
               formControlName="confirm_password"
               class="form-control"
               required
               name="confirm_password"/>
        <div *ngIf="ngForm.submitted && formGroup.controls.confirm_password.errors?.required" class="alert alert-danger">
          Password confirmation is required
        </div>
        <div *ngIf="ngForm.submitted && formGroup.controls.confirm_password.errors?.matchValidator" class="alert alert-danger">
          Password should match
        </div>
      </div>
      <div *ngIf="submissionError" class="alert alert-danger">
        {{ submissionError }}
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary text-capitalize btn-block" type='submit'
                [disabled]="submitted && formGroup.valid">
          Sign Up
        </button>
      </div>
    </form>
    <app-loader *ngIf="submitted && formGroup.valid"></app-loader>
  </div>
</div>
