<nav class="navbar navbar-expand-md">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
        <ng-container *ngIf="signedInUserName; else elseBlock">
            <li class="nav-item">
                <ng-container *ngIf="isUserDetailsScreen; else userDetailsButton">
                    <a class="btn btn-link" [routerLink]="['/']">Upload files</a>
                </ng-container>
                <ng-template #userDetailsButton>
                    <a class="btn btn-link" [routerLink]="['/user-details']">User details</a>
                </ng-template>
                <a class="btn btn-light" (click)="onSignOut()" [routerLink]="['/signout']">Sign out</a>
            </li>
        </ng-container>
        <ng-template #elseBlock>
            <li class="nav-item sign-in-btn">
                <a class="btn btn-link" [routerLink]="['/signin']">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light" [routerLink]="['/signup']">Sign Up</a>
            </li>
        </ng-template>
    </ul>
</nav>
<router-outlet></router-outlet>
