<nav class="navbar navbar-expand-md">
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav">
    <ng-container *ngIf="signedInUserName; else elseBlock">
      <li class="nav-item">
        <a class="btn btn-light" (click)="onSignOut()" [routerLink]="['/signout']">Sign out</a>
      </li>
    </ng-container>
    <ng-template #elseBlock>
      <li class="nav-item">
        <a class="btn btn-link" [routerLink]="['/signin']">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-light" [routerLink]="['/signup']">Sign Up</a>
      </li>
    </ng-template>
  </ul>
</nav>
<router-outlet></router-outlet>
