<div [ngClass]="{'file-row': true, row: true, odd: oddRow}">
  <div class="col-lg-4">
    <p class="name">{{fileObject.file.name}}</p>
    <p [ngClass]="{'text-primary': fileObject.status === FileObjectStatusEnum.Uploading, 'text-success': fileObject.status === FileObjectStatusEnum.Uploaded, 'text-danger': fileObject.status === FileObjectStatusEnum.Failed}">
      <strong *ngIf="fileObject.status !== FileObjectStatusEnum.NotStarted"
              [ngClass]="{'error': fileObject.status === FileObjectStatusEnum.Failed}">
        {{FileObjectStatusEnum[fileObject.status]}}
      </strong>
    </p>
    <strong class="error text-danger">{{uploadError}}</strong>
  </div>
  <div class="col-lg-4 text-right">
    <p class="size">{{fileObject.file.size | fileSize}}</p>
    <div class="progress">
      <div
          [ngClass]="{'progress-bar': true, 'progress-bar-striped': true, 'progress-bar-success': fileObject.status !== FileObjectStatusEnum.Failed, 'progress-bar-danger': fileObject.status === FileObjectStatusEnum.Failed }"
          role="progressbar" [ngStyle]="{'width': progress + '%'}" aria-valuenow="progress" aria-valuemin="0"
          aria-valuemax="100">
        <strong *ngIf="progress > 0">{{progress}}%</strong>
      </div>
    </div>
    <p *ngIf="fileObject.status === FileObjectStatusEnum.Uploading" class="speed">{{speed | fileSize}}/s</p>
  </div>
  <div class="col-lg-4 text-right">
    <button class="btn btn-success start"
            [disabled]="fileObject.status === FileObjectStatusEnum.Uploading"
            (click)="onUpload()">
      <i class="glyphicon glyphicon-upload"></i>
      <strong>Upload</strong>
    </button>
    <button class="btn btn-danger delete"
            [disabled]="fileObject.status === FileObjectStatusEnum.Uploading"
            (click)="onRemove.emit()">
      <i class="glyphicon glyphicon-trash"></i>
      <strong>Remove from list</strong>
    </button>
  </div>
</div>
