<div class="upload">
  <label class="btn btn-primary file-input-btn">
    Select files for upload
    <input type="file" hidden name="files[]" multiple="" type="file" (change)="fileChangeEvent($event)">
  </label>
  <button class="btn btn-success"
          type="button"
          [disabled]="!files.length"
          (click)="onUploadAll()">
    Upload all
  </button>
  <button class="btn btn-danger"
          type="button"
          [disabled]="!files.length"
          (click)="onRemoveAll()">
    Remove all
  </button>
  <h2 *ngIf="files.length"
      class="section-title text-center upload__title">
    Selected Files
  </h2>
  <div class="files previews">
    <app-upload-file *ngFor="let file of files; let i = index, let oddRow = odd;"
                     [class.odd]="oddRow"
                     [fileObject]="file"
                     [upload$]="uploadAll$" (onRemove)="onRemove(i)">
    </app-upload-file>
  </div>
</div>
