<div class="upload">
  <label class="btn btn-primary file-input-btn">
    Select files for upload
    <input type="file" hidden name="files[]" multiple="" type="file" (change)="fileChangeEvent($event)">
  </label>
  <button type="button" class="btn btn-success" [disabled]="!files.length" (click)="onUploadAll()">Upload all</button>
  <button type="button" class="btn btn-danger" [disabled]="!files.length" (click)="onRemoveAll()">Remove all</button>
  <h2 class="section-title text-center">Selected Files</h2>
  <div class="files previews">
    <app-upload-file *ngFor="let file of files; let i = index, let oddRow = odd;"
                     [oddRow]="oddRow"
                     [fileObject]="file"
                     [upload$]="uploadAll$" (onRemove)="onRemove(i)">
    </app-upload-file>
  </div>
</div>
