<div class="row signin justify-content-center">
  <div class="col-lg-4 text-center element-center">
    <form #ngForm="ngForm"
          novalidate
          [formGroup]="formGroup"
          (ngSubmit)="onFormSubmit()">
      <h2 class="form-signin-heading text-capitalize">Please sign in</h2>
      <div class="form-group">
        <label for="inputUsername" class="sr-only">Email address</label>
        <input type="email"
               id="inputUsername"
               formControlName="username"
               placeholder="Email address"
               class="form-control"
               name="username"
               required
               autofocus/>
        <div *ngIf="ngForm.submitted && formGroup.controls.username.errors?.required" class="alert alert-danger">
          Username is required
        </div>
        <div *ngIf="ngForm.submitted && formGroup.controls.username.errors?.email" class="alert alert-danger">
          Incorrect username format
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password"
               id="inputPassword"
               formControlName="password"
               placeholder="Password"
               class="form-control"
               required name="password"/>
        <div *ngIf="ngForm.submitted && formGroup.controls.password.errors?.required" class="alert alert-danger">
          Password is required
        </div>
      </div>
      <div *ngIf="submissionError" class="alert alert-danger">
        {{ submissionError }}
      </div>
      <div class="form-group">
        <a routerLink="/forgot-password"><strong>Forgot Password?</strong></a>
      </div>

      <div class="form-group">
        <button class="btn btn-lg btn-primary text-capitalize btn-block"
                [disabled]="submitted">
          Sign in
        </button>
      </div>
    </form>
    <app-loading *ngIf="submitted"></app-loading>
  </div>
</div>
